<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtcimb>
      <version>0.1.0</version>
    </Veritrans_Vtcimb>
  </modules>
  <global>
    <models>
      <vtcimb>
        <class>Veritrans_Vtcimb_Model</class>
      </vtcimb>
    </models>
    <helpers>
      <vtcimb>
        <class>Veritrans_Vtcimb_Helper</class>
      </vtcimb>
    </helpers>
    <blocks>
      <vtcimb>
        <class>Veritrans_Vtcimb_Block</class>
      </vtcimb>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtcimb>
            <file>veritrans.xml</file>
          </vtcimb>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtcimb>
        <model>vtcimb/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>CIMB Clicks</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </vtcimb>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtcimb>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtcimb</module>
          <frontName>vtcimb</frontName>
        </args>
      </vtcimb>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtcimb>
          <file>veritrans.xml</file>
        </veritrans_vtcimb>
      </updates>
    </layout>
  </adminhtml>
</config>
