<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtvirtual>
      <version>0.1.0</version>
    </Veritrans_Vtvirtual>
  </modules>
  <global>
    <models>
      <vtvirtual>
        <class>Veritrans_Vtvirtual_Model</class>
      </vtvirtual>
    </models>
    <helpers>
      <vtvirtual>
        <class>Veritrans_Vtvirtual_Helper</class>
      </vtvirtual>
    </helpers>
    <blocks>
      <vtvirtual>
        <class>Veritrans_Vtvirtual_Block</class>
      </vtvirtual>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtvirtual>
            <file>veritrans.xml</file>
          </vtvirtual>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtvirtual>
        <model>vtvirtual/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Virtual Account</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </vtvirtual>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtvirtual>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtvirtual</module>
          <frontName>vtvirtual</frontName>
        </args>
      </vtvirtual>
    </routers>
    <translate>
        <modules>
            <Veritrans_Vtvirtual>
                <files>
                    <default>Veritrans_Vtvirtual.csv</default>
                </files>
            </Veritrans_Vtvirtual>
        </modules>
    </translate>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtvirtual>
          <file>veritrans.xml</file>
        </veritrans_vtvirtual>
      </updates>
    </layout>
  </adminhtml>
</config>
