<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtMandiri>
      <version>0.1.0</version>
    </Veritrans_VtMandiri>
  </modules>
  <global>
    <models>
      <vtmandiri>
        <class>Veritrans_Vtmandiri_Model</class>
      </vtmandiri>
    </models>
    <helpers>
      <vtmandiri>
        <class>Veritrans_Vtmandiri_Helper</class>
      </vtmandiri>
    </helpers>
    <blocks>
      <vtmandiri>
        <class>Veritrans_Vtmandiri_Block</class>
      </vtmandiri>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtmandiri>
            <file>veritrans.xml</file>
          </vtmandiri>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtmandiri>
        <model>vtmandiri/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>mandiri click pay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </vtmandiri>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtmandiri>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtmandiri</module>
          <frontName>vtmandiri</frontName>
        </args>
      </vtmandiri>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtmandiri>
          <file>veritrans.xml</file>
        </veritrans_vtmandiri>
      </updates>
    </layout>
  </adminhtml>
</config>
